<div class="container">


    <div class="jumbotron">
        <h1 class="display-2">Scraping Gremlin</h1>
        <p class="lead">This is a simple scraper for reddit articles. Enjoy the reading....</p>
        <hr class="my-4">
        <a href="/scrape"> <button type="button" class="btn btn-danger scrape" id="scrapBtn"> Scrape Articles
            </button></a>
    </div>

    {{!-- <br> --}}

    {{#each Article}}
    <div class="row">
        <div class="panel panel-primary">
            <div class="panel-heading">{{this.title}}
                <a href="/notes/{{this._id}}">
                    <button type="button" id="noteBtn" class="btn btn-warning save-article">See Notes</button> </a>
            </div>
            {{!-- <br> --}}
            <div class="panel-body">
                <a href="https://old.reddit.com/r/webdev{{this.link}}" target="_blank"> {{this.link}}</a>

            </div>
            {{!-- <button type="button" id="noteBtn" class="btn btn-warning save-article">See Notes</button> </a> --}}
        </div>
    </div>
    {{/each}}
</div>


<script>
</script>