html,
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    background-color: rgb(247, 101, 85);
    
}

.container {
  /* background: linear-gradient(-75deg, rgb(128, 127, 127), #181717);
	background-size: 400% 400%;
  animation: gradientBG 7s linear infinite; */
  background: rgb(110, 110, 110);
  padding: 0px;
  border-radius: 7px;
  border: 2px solid rgb(185, 185, 185);
  

}

.jumbotron{
    margin: 0px;
    color: white;
    text-shadow: black 0.3em 0.3em 0.3em;
    background: rgb(6, 161, 161);
    text-align: center;
    margin-bottom: 2%;
  
  }

  .jumbotron1{
    margin: 0px;
    color: white;
    /* text-shadow: black 0.3em 0.3em 0.3em; */
    background: rgb(6, 161, 161);
    text-align: center;
    height: 50vh;
    margin-top: 2%;
    padding-top: 10%;
    
  
  }

  a {
    color: rgb(48, 48, 224);

  }
  
  .well {
    background: rgb(137, 173, 240);
    border-radius: 10px;
    padding: 10px;
    margin-top: 2%;
    margin-left: 1.5%;
    margin-bottom: 2%;
    display: inline-block;
  
  }
  
  .panel {
    background: rgb(137, 173, 240);
    border-radius: 10px;
    padding: 10px;
    margin-top: 1%;
    margin-left: 1.5%;
    margin-bottom: 2%;
    margin-right: 3%;
    font-size: 25px;
  
  }

  #noteBtn {
    width: 130px;
    margin-left: 1%;
    margin-right: 0;
    margin-bottom: 0.5%;
    margin-top: 0.5%;
    border-radius: 8px;

  }
  
  #note-delete {
    border-radius: 8px;

  }

  .row {
    margin-left: 1%;

  }
  
  h1 {
    font-family: 'Special Elite', cursive;
  
  }

  .article-container {
    padding: 0px;

  }
 

  @keyframes gradientBG {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    
      }
      100% {
          background-position: 0% 50%;
      }
  
  }

  
